<article class="vp-lg-bottom-7 tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
	<a href="{{post.link}}">
		<h2 class="h3">{{post.title}}</h3>
		<h5 class="h5">{{ post.post_date|date('F j Y') }}</h5>
	</a>
	{% endblock %}
	</a>
</article>
